# CircuitCM’s RVC-Inference API
https://github.com/CircuitCM/RVC-inference/raw/main/dist/inferrvc-1.0-py3-none-any.whl

# Web framework
fastapi
uvicorn[standard]
python-multipart

# Audio processing
soundfile
